body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #a9c2cf;
  background-image: url("road2.jpg.png");
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 400px;
  padding: 25px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  text-align: center;
}

.info-text {
  font-size: 14px;
  margin-bottom: 15px;
  color: #555;
}

input,
textarea {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  display: block;
  width: 200px;
  margin: 10px auto;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #007BFF;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}